<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="app/bower_components/angular/angular.min.js"></script>
    <script src="app/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="app/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="app/bower_components/ui-bootstrap/src/modal/modal.js"></script>

    <script src="app/bower_components/angular-facebook/lib/angular-facebook.js"></script>

    <script src="main.js"></script>
    <link rel="stylesheet" href="app/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="style.css"/>
</head>
<body ng-app="angularAuth">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home">Angular App</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a ui-sref="about">About</a>
                    </li>
                    <li>
                        <a ui-sref="state2">Services</a>
                    </li>
                    <li>
                        <a ui-sref="app">Contact</a>
                    </li>
                </ul>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                class="glyphicon glyphicon-comment"></span>Chats <span class="label label-primary">42</span>
                        </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><span class="label label-warning">7:00 AM</span>Hi :)</a></li>
                                <li><a href="#"><span class="label label-warning">8:00 AM</span>How are you?</a></li>
                                <li><a href="#"><span class="label label-warning">9:00 AM</span>What are you doing?</a></li>
                                <li class="divider"></li>
                                <li><a href="#" class="text-center">View All</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                class="glyphicon glyphicon-envelope"></span>Inbox <span class="label label-info">32</span>
                        </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><span class="label label-warning">4:00 AM</span>Favourites Snippet</a></li>
                                <li><a href="#"><span class="label label-warning">4:30 AM</span>Email marketing</a></li>
                                <li><a href="#"><span class="label label-warning">5:00 AM</span>Subscriber focused email
                                    design</a></li>
                                <li class="divider"></li>
                                <li><a href="#" class="text-center">View All</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                class="glyphicon glyphicon-user"></span>Admin <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a ui-sref="profile"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
                                <li><a ui-sref="stats"><span class="glyphicon glyphicon-signal"></span>Stats</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><span class="glyphicon glyphicon-off"></span>Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">
        <div ui-view></div>
        <!--<div class="row">-->
            <!--<div class="col-lg-12 text-center">-->
                <!--<h1>A Bootstrap Starter Template</h1>-->
                <!--<p class="lead">Complete with pre-defined file paths that you won't have to change!</p>-->
                <!--<ul class="list-unstyled">-->
                    <!--<li>Bootstrap v3.3.1</li>-->
                    <!--<li>jQuery v1.11.1</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div ng-controller="mainCtrl">
        <button type="button" id="login" ng-click="login()">login</button>
        <button type="button" id="api" ng-click="api()">api user data call</button>
        <button type="button" id="remove_auth" ng-click="removeAuth()">remove auth</button>
        <pre>isReady: <span id="is_ready" ng-bind="facebookIsReady"></span></pre>
        <pre>status: <span id="login_status" ng-bind="loginStatus"></span></pre>
        <pre>username: <span id="api_first_name" ng-bind="user.first_name"></span></pre>
    </div>
</body>
</html>
